@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Whole page*/
header, main, footer {
  margin: 0 auto;
  max-width: 760px;
}

h1, h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}
/*header*/
.home-portrait {
  max-width: 100%;
  float: right;
  border-radius: 50%;
  box-shadow: black 5px 5px 10px;
  margin: 1em;
}

header h1 {
  background-color: #15507A;
  color: white;
  padding: 1em;
  border-radius: 10px;
}
/*Main section*/
main h2 {
  padding-left: 1em;
}
.assignments {
  margin-left: 1em;
}

/*footer*/
footer {
  background-color: #15507A;
  padding: 0.5em;
  border-radius: 10px;
}
footer p {
  color: white;
  text-align: center;
  clear: right;
}
footer p a {
  color: white;
}
#date-updated {
  color: #CEF3E1;
}

/*Media Queries*/
@media screen and (max-width: 600px) { 
  /* beginning of media query */
      header, main, footer {
      display: block;
      }
      .home-portrait {
        display: block;
        margin: 0 auto;
        float: none;
      }
      
  /* end of media query */ 
  } 