* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------Header----------- */

h1 {font-size: 2rem; font-family: 'Righteous', sans-serif;}

h2 {font-size:1.2rem; font-family: 'Mukta', sans-serif;}

h3 {font-size:1.0rem; font-family: 'Mukta', sans-serif;}

p, ol, button {font-size: 16px; font-family: 'Mukta', sans-serif;}

header {
    padding: 1rem;
    background: linear-gradient(to bottom, turquoise, aqua);
    box-shadow: 0px 0px 7px grey;
}
header h1, header h2 {margin: 0}

/* ---------Main-Content--------- */

main, main picture, main section, main h1 {display: block; max-width: 1024px; margin: 0.5rem auto; text-align: center;}

img {
    display: block;
    height: 100%;
}

picture {
    display: block;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 1rem;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
  picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

/* ----------footer----------- */

footer {background: linear-gradient(to bottom, turquoise, aqua); padding: 0.3rem;}
footer p {text-align: center;}